
  .project_desc{
    margin-top: 5%;
  }

.image>img{
    width: 80%;
    height: auto;
    margin: 10%;
    padding: 10%;
}

.project_card{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 1rem;
}
.project_card>.image{
    width: 50%;
}

.project_card>.project_desc{
    width: 50%;
    padding-bottom: 5%;
}

.p_buttons>a>button{
    
    border-radius: 0.5rem;
}
.p_buttons{
    display: flex;
    justify-content:flex-start;
}



/* Github Statistics */

#github_statistics{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
}
